<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Do you think that switching to your browser's Private browsing mode or Incognito mode will make you anonymous?
                    And the websites cant track you down?
                    \nSorry to dissappoint you my friend. YOU ARE WRONG! Everyone can track you. You can check it out for yourself." />
    <title>Think Incognito</title>
    <link rel="shortcut icon" href="img/logo.png">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="grey lighten-2">

    <a href="https://github.com/MadhavBahlMD/Think-Incognito"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <nav class="grey darken-4">
        <div class="nav-wrapper">
            <img src="img/logo.png" id="logo" class="responsive-img brand-logo center">
        </div>
    </nav>

    <div id="show1" class="container">
        <h3 class="center" style="margin-top: 40px;">Think <b>Incognito</b>?</h3>
        {{!--
        <h1 id="fp"></h1> --}}
        <h5 class="center">Do you think you are
            <b>Anonymous</b>.</h5>
        <div class="row">
            <div class="col s12 offset-m3 m6">
                <p class="center">Do you think that switching to your browser's Private browsing mode or Incognito mode will make you anonymous?
                    And the websites cant track you down?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-m3 m6">
                <p class="center">Sorry to dissappoint you my friend. YOU ARE WRONG! Everyone can track you. You can check it out for yourself.
                    Just type your name below.
                </p>
            </div>
        </div>
        <h5 class="center">Search something Here And This Website Will Remember You Always!</h5>
        <form method="POST">
            <div class="center input-field" style="margin-top: 25px; ">
              <input style="" class="center" id="name" type="text" autofocus>
              <label class="center" style="margin-left: 44%;" for="name"><i class="fa fa-search" aria-hidden="true"></i> Google search </label>
            </div>
            <div class="center">
                <button type="submit" id="submitBTN" onclick="sendData()" class="center grey darken-3 waves-effect waves-dark btn">SEARCH!</button>
            </div>
                
        </form>
    </div>

    <div id="show2" style="margin-top: 20px;" class="container">
        <h3 class="center" style="margin-top: 20px;">You Are Not Incognito!!!!!</h3>
        <h4 class="center">I remember, you searched for <b>"<span id="fetchName"></span>"</b> last time</h4>
        <div class="row">
            <div class="col s12 offset-m3 m6">
                <p class="center">Welcome back to the website <b><span id="fetchName"></span></b>. If I 
                    can remember what you searched last time, even though you 
                    were/are using the Private browsing / Incognito mode, I can surely track you.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-m3 m6">
                <p class="center">Sorry to dissappoint you my friend. <b>I can spy on you 
                    even when you are using the Private browsing or Incognito mode.</b>
                </p>
            </div>
        </div>
        <h3 class="center">Nothing is true! <b>Everything is permitted!</b></h3>

        <div class="center">
            <button type="submit" style="margin-top: 20px;" id="submitBTN" onclick="forget()" class="center waves-effect waves-dark btn">Forget Me!</button>
        </div>

        <div class="row" style="margin-top:15px;">
            <h6 class="center">If you liked this project, don't forget to give it a Star:</h6>
            <div class="center">
                <a href="https://github.com/MadhavBahlMD/Think-Incognito"><button  style="margin-top: 15px;" id="submitBTN" class=" blue-grey darken-1 center waves-effect waves-dark btn"><i class="fa fa-github grey-text text-lighten-4"></i> Think-Incognito?</button></a>
            </div>
        </div>

    </div>

    <footer id="endNote" class="grey darken-3">
        {{!--
        <div class="grey darken-3">
            <h3 class="center">
                THINK INCOGNITO?
            </h3>
        </div> --}}

        <div class="footer-copyright">
            <div class="container grey-text text-lighten-2" id="contentFooter">
                Designed And Developed By -- MADHAV BAHL
                <a class="grey-text text-lighten-2 right" href="http://github.com/MadhavBahlMD">
                    <i class="fa fa-github grey-text text-lighten-4"> Follow</i>
                </a>
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/js/client.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="js/transferData.js"></script>
</body>
</html>