<!DOCTYPE html>
<html>
    <head>
        <title>Think Incognito</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body class="grey lighten-2">
        <nav class="grey darken-4" >
            <div class="nav-wrapper">
            <img src="img/logo.png" id="logo" class="responsive-img brand-logo center">
            </div>
        </nav>

        <div class="container">
            <h1>Think Incognito?</h1>
            <h1 id="fp"></h1>
        </div>

        <footer id="endNote" class="grey darken-3" >
            {{!-- <div class="grey darken-3">
                <h3 class="center">
                    THINK INCOGNITO?
                </h3>
            </div> --}}
         
          <div class="footer-copyright">
            <div class="container grey-text text-lighten-2" id="contentFooter">
            Designed And Developed By -- MADHAV BAHL
            <a class="grey-text text-lighten-2 right" href="http://github.com/MadhavBahlMD"><i class="fa fa-github grey-text text-lighten-4"> Follow</i></a>
            </div>
          </div>
        </footer>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="/js/client.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
        <script src="js/transferData.js"></script>
    </body>
</html>